{% extends 'navbar.html' %}

{% block content %}
    <div class="container py-3">
        <div class="row">

            <div class="col-12">
                <form action="{% url 'all_task_schedules' %}" method="GET" class="mb-3">
                    <div class="d-flex">
                        <span class="my-auto me-3">Filter: </span>
                        
                        <input type="date" name="dateStart" id="dateStart" class="form-control" value="{{ dateStart }}"/>
                        <span class="mx-2 my-auto"> to </span>
                        <input type="date" name="dateEnd" id="dateEnd" class="form-control" value="{{ dateEnd }}"/>
                        <button class="btn btn-primary ms-3" type="submit">Filter</button>
                        
                    </div>
                </form>
            </div>
            <!-- Calendar -->
            <div class="col-12 col-lg-4">
                <div class="month">
                    <ul>
                    {% if nextMonth == False %}
                    <li class="prev" style="list-style-type: none;">
                        <a href="{% url 'all_task_schedules' %}?lastMonth=true" class="text-white">&#10094;</a>
                    </li>
                    {% else %}
                    <li class="prev" style="list-style-type: none;">
                        <a href="{% url 'all_task_schedules' %}" class="text-white">&#10094;</a>
                    </li>
                    {% endif %}

                    {% if lastMonth == False %}
                    <li class="next" style="list-style-type: none;">
                        <a href="{% url 'all_task_schedules' %}?nextMonth=true" class="text-white">&#10095;</a>
                    </li>
                    {% else %}
                    <li class="next" style="list-style-type: none;">
                        <a href="{% url 'all_task_schedules' %}" class="text-white">&#10095;</a>
                    </li>
                    {% endif %}

                    <li style="list-style-type: none;">{{ monthString }}
                        <br><span style="font-size:18px">{{ yearString }}</span>
                    </li>
                    </ul>
                </div>
                
                <ul class="weekdays">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>
                </ul>
                
                <ul class="days">
                {% for i in daysArray %}
                    {% if i == currentDay and i in daysWithDeadlines %}
                        <li><span class="active haveDeadline">{{ i }}</span></li>
                    {% elif i == currentDay %}
                        <li><span class="active">{{ i }}</span></li>
                    {% elif i in daysWithDeadlines %}
                        <li><span class="haveDeadline">{{ i }}</span></li>
                    {% else %}
                        <li>{{ i }}</li>
                    {% endif %}
                {% endfor %}
                </ul> 
            </div>

            <!-- Upcoming and late tasks-->
            <div class="col-12 col-lg-8">
                {% if filterResult %}
                <h3>Filter result</h3>
                {% endif %}
                {% for task in filterResult %}
                <a href="{% url 'task_details' task.id %}" class="text-decoration-none">
                    <div class="border rounded p-3 mb-3">
                        <div class="d-flex align-items-center">
                            <div class="bg-primary rounded-circle me-2" style="width: 50px; height: 50px; position: relative;">
                                {% if task.isAssignment %}
                                    <i class="bi bi-bookmarks text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                                {% else %}
                                    <i class="bi bi-list-task text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                                {% endif %}
                            </div>
                            <div class="ms-2">
                                <h5 class="text-black m-auto">{{ task.title }}</h5>
                                <p class="text-secondary m-auto"><small>Due Date: {{ task.deadline }}</small></p>
                            </div>
                            
                            <div class="ms-auto my-auto text-center">
                                <p class="text-secondary mb-2 mx-auto">GPA</p>
                                {% if task.gpa %}
                                <h5 class="text-black">{{ task.gpa }}</h5>
                                {% else %}
                                <p class="text-secondary">Not graded</p>
                                {% endif %}
                            </div>
                            
                        </div>
                        
                    </div>
                </a>
                {% endfor %}

                {% if not filterResult %}

                <h3>Upcoming tasks</h3>
                {% if not upcomingTasks %}
                <p><i>No upcoming tasks</i></p>
                {% endif %}

                {% for upcomingTask in upcomingTasks %}
                <a href="{% url 'task_details' upcomingTask.id %}" class="text-decoration-none">
                    <div class="border rounded p-3 mb-3">
                        <div class="d-flex align-items-center">
                            <div class="bg-primary rounded-circle me-2" style="width: 50px; height: 50px; position: relative;">
                                {% if upcomingTask.isAssignment %}
                                    <i class="bi bi-bookmarks text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                                {% else %}
                                    <i class="bi bi-list-task text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                                {% endif %}
                            </div>
                            <div class="ms-2">
                                <h5 class="text-black m-auto">{{ upcomingTask.title }}</h5>
                                <p class="text-secondary m-auto"><small>Due Date: {{ upcomingTask.deadline }}</small></p>
                            </div>
                            
                            <div class="ms-auto my-auto text-center">
                                <p class="text-secondary mb-2 mx-auto">GPA</p>
                                {% if upcomingTask.gpa %}
                                <h5 class="text-black">{{ upcomingTask.gpa }}</h5>
                                {% else %}
                                <p class="text-secondary">Not graded</p>
                                {% endif %}
                            </div>
                            
                        </div>
                        
                    </div>
                </a>
                {% endfor %}

                <h3>Late tasks</h3>
                {% if not lateTasks %}
                    <p><i>No late tasks</i></p>
                {% endif %}
                {% for lateTask in lateTasks %}
                <a href="{% url 'task_details' lateTask.id %}" class="text-decoration-none">
                    <div class="border rounded p-3 mb-3">
                        <div class="d-flex align-items-center">
                            <div class="bg-primary rounded-circle me-2" style="width: 50px; height: 50px; position: relative;">
                                {% if lateTask.isAssignment %}
                                    <i class="bi bi-bookmarks text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                                {% else %}
                                    <i class="bi bi-list-task text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                                {% endif %}
                            </div>
                            <div class="ms-2">
                                <h5 class="text-black m-auto">{{ lateTask.title }}</h5>
                                <p class="text-secondary m-auto"><small>Due Date: {{ lateTask.deadline }}</small></p>
                            </div>
                            
                            <div class="ms-auto my-auto text-center">
                                <p class="text-secondary mb-2 mx-auto">GPA</p>
                                {% if upcomingTask.gpa %}
                                <h5 class="text-black">{{ upcomingTask.gpa }}</h5>
                                {% else %}
                                <p class="text-secondary">Not graded</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}

                <!--End if not filter result-->
                {% endif %}

                <h3>Joined groups</h3>
                {% if not joinedGroups %}
                    <p><i>No joined group</i></p>
                {% endif %}
                {% for group in joinedGroups %}
                <div class="border rounded p-3 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="bg-primary rounded-circle me-2" style="width: 50px; height: 50px; position: relative;">
                            <i class="bi bi-people text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                        </div>
                        <div class="ms-2">
                            <a href="{% url 'learn_group_details' group.id %}" class="text-black text-decoration-none"><h5 class="text-black m-auto">{{ group.name }}</h5></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}