{% extends 'navbar.html' %}

{% block content %}
{% load static %}
    
    
    <div class="mb-2 mt-3 d-flex justify-content-between align-items-center">
        <div><h2>Classrooms</h2></div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClassroomModal">
            Create classroom
        </button>
    </div>
    
    {% if classroomsUserIsTeacher%}
    <h3>As Teacher</h3>
    {% endif%}
    
    <div class="row">
    {% for classroom in classroomsUserIsTeacher %}
    <div class="col-12 col-lg-6 col-xxl-4 px-2 py-2">
        <div class="card">
            <img class="card-img-top" src="{% static classroom.background %}" />
            <div class="card-body">
                <h5 class="card-title">{{ classroom.name }}</h5>
                <p class="card-text">{{ classroom.description|truncatechars:50 }}</p>
                <a href="{% url 'classroom_details' classroom.id %}" class="btn btn-primary">View</a>
                <a href="/classroom/edit/{{ classroom.id }}" class="btn btn-secondary"><i class="bi bi-pencil-square me-2"></i>Edit</a>
                <form action="{% url 'classroom_details' classroom.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger" title="You can only delete classrooms if there's no student left">
                        <i class="bi bi-trash me-2"></i><span>Delete</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    

    {% if classroomsUserIsStudent%}
    <h3>As Student</h3>
    {% endif%}

    <div class="row">
        {% for classroom in classroomsUserIsStudent %}
        <div class="col-12 col-lg-6 col-xxl-4 px-2 py-2">
            <div class="card">
                <img class="card-img-top" src="{% static classroom.background %}" />
                <div class="card-body">
                    <h5 class="card-title">{{ classroom.name }}</h5>
                    <p class="card-text">{{ classroom.description|truncatechars:50 }}</p>
                    <a href="{% url 'classroom_details' classroom.id %}" class="btn btn-primary">View</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Start create classroom modal -->
    <div class="modal fade" id="createClassroomModal" tabindex="-1" aria-labelledby="createClassroomModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
      
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create classroomModalLabel">Create classroom</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="{% url 'classroom_create' %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
                
            </div>
        
        </div>
    </div>
    <!-- End modal -->


{% endblock %}