{% extends 'navbar.html' %}
{% block content %}
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div style="width: 100%;" class="mt-3 position-relative">
            {% load static %}
            <img style="width: 100%; border-radius: 15px;"  src="{% static classroom.background %}"/ >
            <div style="padding: 1rem 1.5rem; top: 20%; left: 5%; width: 85%; color: white;" class="position-absolute">
                <h2 style="text-overflow: ellipsis; overflow: hidden; display: block; whitespace: no-wrap;">{{ classroom.name }}</h2>
            </div>
        </div>
        <ul class="nav nav-tabs mb-2 mt-3 bg-light">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'classroom_details' classroom.id %}">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'classroom_details_users' classroom.id %}">Students and teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active bg-light" href="{% url 'classroom_analytics' classroom.id %}">Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gpa_by_classroom_id' classroom.id %}">GPAs</a>
            </li>
        </ul>
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Classroom Analytics</h4>
                <a class="btn btn-secondary" href="{% url 'classroom_details' classroom.id %}" role="button">Return to classroom page</a>
            </div>
            <div class="col-12 col-lg-7 col-xxl-9">
                
                <div class="">
                    <p class="text-secondary mb-0"><small>Classroom name: {{ classroom.name }} - ID: {{ classroom.id }}</small></p>
                    {% if classroom.description %}
                        {% if classroom.description|length > 50 %}
                        <p class="text-secondary"><small>Description: {{ classroom.description|truncatechars:50 }}...</small></p>
                        {% else %}
                        <p class="text-secondary"><small>Description: {{ classroom.description }}</small></p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 py-2">
                        <div style="background-image: linear-gradient(150deg, #2E3192, #1BFFFF); max-height: 200px" 
                        class="rounded-4 px-3 pt-3 pb-2 d-flex justify-content-between flex-column">
                            <p class="text-white" style="font-size: 16px;">Student count</p>
                            <p class="text-white" style="font-size: 30px;"><strong>{{ studentCount }}</strong></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 py-2">
                        <div style="background-image: linear-gradient(150deg, #662D8C, #ED1E79); max-height: 200px" 
                        class="rounded-4 px-3 pt-3 pb-2 d-flex justify-content-between flex-column">
                            <p class="text-white" style="font-size: 16px;">Assignment count</p>
                            <p class="text-white" style="font-size: 30px;"><strong>{{ assignmentCount }}</strong></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 py-2">
                        <div style="background-image: linear-gradient(130deg, #614385, #516395); max-height: 200px" 
                        class="rounded-4 px-3 pt-3 pb-2 d-flex justify-content-between flex-column">
                            <p class="text-white" style="font-size: 16px;">Average grade</p>
                            <p class="text-white" style="font-size: 30px;"><strong>{{ averageGrade }}</strong></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 py-2">
                        <div style="background-image: linear-gradient(130deg, #02AABD, #00CDAC); max-height: 200px" 
                        class="rounded-4 px-3 pt-3 pb-2 d-flex justify-content-between flex-column">
                            <p class="text-white" style="font-size: 16px;">Assignment completion</p>
                            <p class="text-white" style="font-size: 30px;"><strong>{{ assignmentCompletion }}%</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-lg-5 col-xxl-3">
                
                <div style=" height: 350px;" 
                class=" d-flex align-items-center justify-content-center px-3 py-3">
                    <canvas id="myChart" class=""></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    fetch("{% url 'classroom_gpa_count' classroom.id %}")
        .then(response => response.json())
        .then(data => {
            var ctx = document.getElementById('myChart').getContext('2d');
            var labels = []; data.map(gpaGroup => labels.push(gpaGroup.gpa));
            var counts = []; data.map(gpaGroup => counts.push(gpaGroup.count));

            console.log(labels, counts);
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Number of students',
                        data: counts,
                        borderColor: '#2e3192cc',
                        backgroundColor: '#2e3192cc',
                        borderWidth: 2,
                        borderRadius: 9,
                        borderSkipped: false
                    }]
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    barThickness: 16,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            beginAtZero: true,
                            ticks: {
                                // forces step size to be 1 units
                                stepSize: 1
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Student GPA Distribution',
                            position: 'top',
                        }
                    },
                }
            });
        }).catch(error => {
            console.error('Error:', error);
        });
{% endblock %}