{% extends 'navbar.html' %}

{% block content %}
    
    <h1>Edit profile</h1>
    <form method="POST" class="needs-validation" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <!-- Add your form fields here -->
        <div class="mb-3">
            <label for="username" class="form-label">New username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">New email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">New password:</label>
            <input type="password" class="form-control" id="password" name="password" >
        </div>

        <div class="mb-3">
            <label for="reenter-password" class="form-label">Reenter new password:</label>
            <input type="password" class="form-control" id="reenter-password" name="reenterPassword">
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}