{% extends 'navbar.html' %}

{% block content %}
{% for group in groups %}
<div class="border rounded p-3 mb-3">
    <div class="d-flex align-items-center">
        <div class="bg-primary rounded-circle me-2" style="width: 50px; height: 50px; position: relative;">
            <i class="bi bi-people text-white" style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
        </div>
        <div class="ms-2">
            <a href="{% url 'learn_group_details' group.id %}" class="text-black text-decoration-none"><h5 class="text-black m-auto">{{ group.name }}</h5></a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}