{% extends 'navbar.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
        <a
            data-mdb-tab-init
            class="nav-link"
            id="edit-quiz-details-tab-control"
            href="{% url 'quiz_edit' quiz.id %}"
            role="tab"
            aria-controls="edit-quiz-details-tab"
            aria-selected="true" on-click="quizDetailsTabClicked"
            >Edit quiz details</a>
        </li>
        <li class="nav-item" role="presentation">
        <a data-mdb-tab-init class="nav-link active bg-light"
            id="question-edit-tab-control"
            href="#question-edit-tab"
            role="tab"
            aria-controls="question-edit-tab" on-click="questionEditTabClicked"
            aria-selected="false" >Edit quiz questions</a>
        </li>
        <li class="nav-item" role="presentation">
            <a data-mdb-tab-init class="nav-link"
            id="quiz-submission-tab-control"
            href="{% url 'student_quiz_submissions' quiz.id %}"
            role="tab"
            aria-controls="quiz-submission-tab" on-click="questionEditTabClicked"
            aria-selected="false" >Quiz submissions</a>
        </li>
    </ul>
    
    <a href="{% url 'quiz_page' quiz.classroom.id %}" class="btn btn-primary">Back to quiz page</a>
</div>

<div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active" id="question-edit-tab" role="tabpanel" aria-labelledby="question-edit-tab-control">
        <!-- Add question form -->
        <h4 class="mt-3">Questions:</h4>
        <form class="mt-3" action="{% url 'add_question_to_quiz' quiz.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mt-2">
                <label for="question" class="form-label">Question:</label>
                <textarea id="question" name="question" class="form-control" style="height: 150px"></textarea>
            </div>
            <div class="mt-2 row">
                <div class="form-group col-12 col-xl-6">
                    <label for="a" class="form-label">Answer A:</label>
                    <input type="text" class="form-control" id="a" name="a" required>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="b" class="form-label">Answer B:</label>
                    <input type="text" class="form-control" id="b" name="b" required>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="c" class="form-label">Answer C:</label>
                    <input type="text" class="form-control" id="c" name="c">
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="d" class="form-label">Answer D:</label>
                    <input type="text" class="form-control" id="d" name="d">
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="e" class="form-label">Answer E:</label>
                    <input type="text" class="form-control" id="e" name="e">
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="correctAnswer" class="form-label">Correct Answer:</label>
                    <select class="form-select" id="answer" name="answer" required>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="d">D</option>
                        <option value="e">E</option>
                    </select>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="video" class="form-label">Video:</div>
                    <input type="file" name="video" accept="video/*" />
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="audio" class="form-label">Audio:</div>
                    <input type="file" name="audio" accept="audio/*" />
                </div>
                <div class="form-group col-12 col-xl-6">
                    <label for="image" class="form-label">Image:</div>
                    <input type="file" name="image" accept="image/*" />
                </div>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Add question</button>
            </div>
        </form>
        <!-- End add question form -->

        <!-- Question edit -->
        {% if questions %}
            
            <div>
                {% for question in questions %}
                <hr class="hr"/>
                
                {% if editingQuestionId != question.id %}
                <div class="border rounded-2 px-3 py-3 mb-0 mt-0 shadow-sm bg-white" style="">
                    <p class="text-secondary">Question {{ forloop.counter }}:</p>
                    
                    {% if question.image %}
                    <img src="{{ question.image.url }}" alt="{{ question.image.name }}" class="mx-auto mt-2" style="max-width: 80%"/>
                    {% endif %}
                    {% if question.audio %}
                    <audio class="mx-auto mt-2" style="max-width: 80%" controls>
                        <source src="{{ question.audio.url }}" >
                    </audio>
                    {% endif %}
                    {% if question.video %}
                    <video class="mx-auto mt-2" style="max-width: 80%" controls>
                        <source src="{{ question.video.url }}" >
                    </video>
                    {% endif %}

                    <p class="text-black mt-0" style="font-size: 18px">{{ question }}</p>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ question.id }}" value="a" id="answerA{{ question.id }}" 
                                {% if question.correct == 'a' %}checked{% endif %} readonly="true">
                                <label class="form-check-label" for="answerA{{ question.id }}">
                                {{ question.a}}
                                </label>
                            </div>
                        </div>
                    
                        <div class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ question.id }}" value="b" id="answerB{{ question.id }}" 
                                {% if question.correct == 'b' %}checked{% endif %} readonly="true">
                                <label class="form-check-label" for="answerB{{ question.id }}">
                                {{ question.b }}
                                </label>
                            </div>
                        </div>

                        {% if question.c %}
                        <div class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ question.id }}" value="c" id="answerC{{ question.id }}" 
                                {% if question.correct == 'c' %}checked{% endif %} readonly="true">
                                <label class="form-check-label" for="answerC{{ question.id }}">
                                {{ question.c }}
                                </label>
                            </div>
                        </div>
                        {% endif %}
                        {% if question.d %}
                        <div class="list-group-item">
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="{{ question.id }}" value="d" id="answerD{{ question.id }}" 
                                {% if question.correct == 'd' %}checked{% endif %} readonly="true" >
                                <label class="form-check-label" for="answerD{{ question.id }}">
                                {{ question.d }}
                                </label>
                            </div>
                        </div>
                        {% endif %}
                        {% if question.e %}
                        <div class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ question.id }}" value="e" id="answerE{{ question.id }}" 
                                {% if question.correct == 'e' %}checked{% endif %} readonly >
                                <label class="form-check-label" for="answerE{{ question.id }}">
                                {{ question.e}}
                                </label>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if editingQuestionId == question.id %}
                <form action="{% url 'edit_delete_question' question.id %}" method="post" id="question_{{ question.id }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="put" />
                    <div class="form-group mt-2">
                        <label for="question" class="form-label">Question:</label>
                        <textarea id="question" name="question" class="form-control" style="height: 150px">{{ question.question }}</textarea>
                    </div>
                    <div class="mt-2 row">
                        <div class="form-group col-12 col-xl-6">
                            <label for="a" class="form-label">Answer A:</label>
                            <input type="text" class="form-control" id="a" name="a" value="{{ question.a }}" required >
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="b" class="form-label">Answer B:</label>
                            <input type="text" class="form-control" id="b" name="b" value="{{ question.b }}" required>
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="c" class="form-label">Answer C:</label>
                            <input type="text" class="form-control" id="c" name="c" value="{{ question.c }}" >
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="d" class="form-label">Answer D:</label>
                            <input type="text" class="form-control" id="d" name="d" value="{{ question.d }}" >
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="e" class="form-label">Answer E:</label>
                            <input type="text" class="form-control" id="e" name="e" value="{{ question.e }}" >
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="correctAnswer" class="form-label">Correct Answer:</label>
                            <select class="form-select" id="correctAnswer" name="answer" required>
                                <option value="a" {% if question.correct == 'a' %}selected{% endif %}>A</option>
                                <option value="b" {% if question.correct == 'b' %}selected{% endif %}>B</option>
                                <option value="c" {% if question.correct == 'c' %}selected{% endif %}>C</option>
                                <option value="d" {% if question.correct == 'd' %}selected{% endif %}>D</option>
                                <option value="e" {% if question.correct == 'e' %}selected{% endif %}>E</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="video" class="form-label">Video:</div>
                            <input type="file" name="video" accept="video/*" />
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="audio" class="form-label">Audio:</div>
                            <input type="file" name="audio" accept="audio/*" />
                        </div>
                        <div class="form-group col-12 col-xl-6">
                            <label for="image" class="form-label">Image:</div>
                            <input type="file" name="image" accept="image/*" />
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Save question edit</button>
                    </div>
                </form>
                {% endif %}
                
                <div class="d-flex align-items-center mt-2">
                    {% if editingQuestionId is none or editingQuestionId != question.id %}
                    <a class="btn btn-primary" role="button" 
                    href="{% url 'quiz_question_edit' question.quiz.id %}?editingQuestionId={{ question.id }}">Edit</a>
                    {% endif %}
                    
                    {% if isTeacher and editingQuestionId != question.id %}
                    <form class="ms-3" action="{% url 'edit_delete_question' question.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Delete question</button>
                    </form>
                    {% endif %}
                </div>

                {% endfor %}
            </div>
        {% endif %}
        <!-- End question edit -->
    </div>
</div>
{% endblock %}

{% block script %}
const searchParams = new URLSearchParams(window.location.search);

if (searchParams.has('editingQuestionId')) {
    const editingQuestionId = searchParams.get('editingQuestionId');
    document.getElementById('question_' + editingQuestionId).scrollIntoView();
}
{% endblock %}