{% extends 'navbar.html' %}

{% block content %}
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>Submission Details</h1>
        <hr>
        <a class="btn btn-primary" href="{% url "task_details" submission.task.id %}" role="button">Return to task/assignment page</a>
        <h2>Student Information</h2>
        <p>Student ID: {{ submission.student.id }}</p>
        <p>Student Username: {{ submission.student.username }}</p>
        <p>Student Email: {{ submission.student.email }}</p>

        <h2>Task Information</h2>
        <p>Task ID: {{ submission.task.id }}</p>
        <p>Task Title: {{ submission.task.title }}</p>

        <h2>Last Submission</h2>
        <p>Last Edited Date: {{ submission.lastSubmission }}</p>

        {% if submission.gpa %}
            <p>GPA: {{ submission.gpa }}</p>
        {% endif %}

        <h5>Submission Files</h5>
        {% for file in submissionFiles %}
        <div class="border rounded-2 px-3 py-3 d-flex justify-content-between align-items-center mb-2 shadow-sm">
            <div>
                <a class="text-decoration-none" href="{{ file.file.url }}">{{ file.file.name }}</a>
                ({{ file.file.size|filesizeformat }})
            </div>
            <a class="ms-3 btn btn-primary" role="button" href="{{ file.file.url }}" download>Download</a>
        </div>
            
        {% endfor %}

        {% if submission.student.id == request.user.id %}
        <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#deleteSubmissionModal">
            Delete Submission
        </button>
          
          <!-- Modal -->
        <div class="modal fade" id="deleteSubmissionModal" tabindex="-1" aria-labelledby="deleteSubmissionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteSubmissionModalLabel">Delete submission</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you want to delete the submission?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="{% url 'submit_task' submission.task.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn btn-danger">Delete Submission</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
            
        {% endif %}
        {% if isTeacher %}
            <h5>Edit GPA</h5>
            <form action="{% url 'submission_details' submission.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="gpaEdit">GPA:</label>
                <input type="number" id="gpaEdit" name="gpa" step="0.01" min="0" max="100" class="form-control">
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        {% endif %}
    </div>
{% endblock %}