{% extends 'navbar.html' %}

{% block content %}

    {% if task.title %}
        <h2>{{ task.title }}</h2>
    {% endif %}
    <div class="mt-3">
        <p class="text-secondary mb-0">Deadline: {{ task.deadline }}</p>
        <p class="text-secondary"><small>Task ID: {{ task.id }} - {{ task.isAssignment|yesno:"Assignment,Classroom Task" }} - 
            {{ task.acceptLateSubmission|yesno:"Accepting late submissions,Not accepting late submission" }}</small>
        </p>
    </div>
    <hr class="hr" />
    <h4>Submission Status</h4>

    {% if userSubmission %}
    <table class="table table-bordered">
        {% if userSubmission %}
            <tr>
                <th>Student</th>
                <td>{{ userSubmission.student.username }}</td>
            </tr>
            <tr>
                <th>Last Submission</th>
                <td>{{ userSubmission.lastSubmission }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                {% if userSubmission.gpa %}
                <td>{{ userSubmission.gpa }}</td>
                {% else %}
                <td>Not graded yet</td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="2">Submission Files</th>
            </tr>
 
            {% for submissionFile in submissionFiles %}
            <tr>
                <th colspan="2">
                    <a href="{{ submissionFile.file.url }}">{{ submissionFile.file.name }}</a>
                    ({{ submissionFile.file.size|filesizeformat }})
                    <a href="{{ submissionFile.file.url }}" class="ms-3" download>Download</a>
                </th>
            </tr>
            {% endfor %}
            <tr>
                <th>Actions</th>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteSubmissionModal">
                        Delete Submission
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <th>Student</th>
                <td>N/A</td>
            </tr>
            <tr>
                <th>Last Submission</th>
                <td>N/A</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>No submission yet</td>
            </tr>
            <tr>
                <th colspan="2">Submission Files</th>
            </tr>
            <tr>
                <td colspan="2">No submission yet</td>
            </tr>
        {% endif %}
            
    </table>

    <!-- Delete Submission Modal -->
    <div class="modal fade" id="deleteSubmissionModal" tabindex="-1" aria-labelledby="deleteSubmissionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteSubmissionModalLabel">Delete submission</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to delete the submission?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url 'submit_task' task.id %}" method="POST" class="">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Delete Submission</button>
                    </form>
                </div>
            </div>
        </div>
    </div>  
    
        
    {% endif %}

    

    <h5 class="mt-4">Submit/Edit Task Submission</h5>
    <form action="{% url 'submit_task' task.id %}" method="POST" enctype="multipart/form-data" class="dropzone">
        {% csrf_token %}
        <input class="fallback" type="file" name="file" id="files" multiple>
        <!--<label for="comment">Comment:</label>
        <textarea name="comment"></textarea>-->
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}