{% extends 'navbar.html' %}

{% block content %}
    
    <h4>Create classroom task/assignment</h4>

    {% if isTeacher %}
        <form action="{% url "task_create" classroom.id %}" method="post" enctype="multipart/form-data" class="dropzone">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="title" class="form-control">
            </div>
            <div class="mb-3">
                <input type="checkbox" id="isAssignment" name="isAssignment" value="ok" class="form-check-input">
                <label for="isAssignment" class="form-check-label">Is Assignment</label>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" name="description" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline:</label>
                <input type="datetime-local" id="deadline" name="deadline" class="form-control">
            </div>
            <div class="mb-3 fallback">
                <label for="files" class="form-label">Files:</label>
                <input  class="" type="file" name="file" id="files" multiple>
            </div>
            <div class="mb-3">
                <label for="weight" class="form-label">Weight (min 0, max 100):</label>
                <input type="number" id="weight" name="weight" class="form-control" min="0" max="100">
                <div id="weight" class="form-text">For example: mid-term exam is 20, final exam is 50</div>
            </div>
            <button type="submit" class="btn btn-primary">Create Task</button>
        </form>
    {% else %}
        <p>You are not authorized to create tasks for this classroom.</p>
    {% endif %}
{% endblock %}